.DM_P_1{
    font-size: 30px;
    line-height: 35px;
    padding-top: 20px;
}
.DM_para{
    padding-left: 10px;
    font-size: 30px !important;
}
.DM_btn{
    display: block;
    margin-left: auto;
}
.Dm_row_2{
    margin: 30px 0px;
    justify-content: space-between;
}
.DM_para_2{
    text-align: center;
}
@media screen and (max-width:750px) {
    .DM_P_1{
        font-size: 25px;
        line-height: 30px;
        padding-top: 10px;
        margin: 0px;
    }
    .DM_para{
        font-size: 30px;
    }
    .DM_btn{
       margin:10px auto;
    }
    .hide_DM{
        display: none;
    }
}