.design_back {
    color: black;
}

.PV_Headline {
    margin: 30px 0px;
}

.PV_Row_2 {
    margin: 30px 0px;
}

.PV_R {
    font-weight: 400;
    text-align:justify;
    font-size: 25px;
    line-height: 31px;
    color: #000000;
    padding-top: 30px;
}
.PD_Top{
    padding-top: 100px;
}

.PHOTO_Video h4{
    padding: 10px 0px;
    text-align: center;
    color: #000000;
}
@media screen and (max-width:750px) {
.PHOTO_Video h4{
font-size: 30px;
}
    .PD_Top{
        padding-top: 0px;
    } 
    .PV_Row_2{
        border: 2px solid #791208;
    }
}