@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Salsa', cursive;
}
.card_img img{
    width: 100%;
    margin-top: 50px;
}
.card_img{
    width: 100%;
    margin: 30px 0px;
}
.service_page{
    padding: 40px;
}
.black{
    color: black;
    text-align: center;
}
.floatLeft_button{
    margin: 40px 10px;
    float: right;
}
.float_heading{
    width: fit-content;
    float: left;
    font-size: 30px !important;
    margin: 50px 10px !important;
}
.float_right_heading{
    width: fit-content;
    float: right;
    font-size: 30px !important;
    margin: 50px 10px !important;
}
.float_right_heading::after{
    transform: translateX(-100px) !important;
}
.float_right_button{
    margin: 40px 10px;
    float: left;
}
@media screen and (max-width:700px) {
    .float_heading{
        width: fit-content;
        float: unset;
        font-size: 30px !important;
        margin: 20px auto !important;
    }
    .float_right_heading{
        width: fit-content;
        float: unset;
        font-size: 30px !important;
        margin: 20px auto !important;
    }
    .floatLeft_button{
        margin: 20px auto;
        float: unset;
        display: block;
    }
    .float_right_button{
        margin: 20px auto;
        float: unset;
        display: block;
    } 
}