@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Salsa', cursive;
}
.img p{
    font-family: Salsa;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;
    color: #000000;
}
.body3 p{
    font-family: Salsa;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.body3 h4{
    font-family: Salsa;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;
    color: #000000;
}
.btn_testinomial{
    display: block;
    margin: 30px auto;
}
.testinomial_head_line{
    text-align: center;
}
.testinomial_head_line::after{
    transform: translateX(-150px) !important;
    width: 180px !important;
    top: 55px !important;
}
.body_testinomial{
    padding: 0px 20px;
}
.img{
    background: url('../img/testinomial_Background.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}
.body1{
    background: url('../img/testinomial_1.png');
}
.body2{
    background: url('../img/testinomial_2.png');
}
.body3{
    background: url('../img/testinomial_3.png');
    padding: 28px 0px !important;
}
.body_for_all{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 270px;
    padding: 20px;
    padding-top: 40px;
    border-radius: 10px ;
}
.img .col-md-4{
    display: flex
}
@media screen and (max-width:700px) {
    .img{
        height: unset;
    }
    .body_testinomial{
        padding: 10px;
    }
    .body_for_all{
        display: block;
        margin: 10px auto;
    }
    .testinomial_head_line::after{
        width: 0px !important;
    }
}